.log-viewer.logs {
    background-color: white;
}

.log-viewer.logs .threat-row {
    background-color: #ff0000;
    color: white;
}

.log-viewer.threats {
    background-color: #ffcccc;
}

.log-viewer.alerts {
    background-color: #ffffe0;
}

.log-viewer.anomalies {
    background-color: #e6e6fa;
}

.log-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px; /* Reducir margen para mejor integración con el layout */
}

.log-table th, .log-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.log-table th {
    background-color: #f2f2f2;
}

.table-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd; /* Agregar borde para mejor definición */
    border-radius: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}